:root {
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(212, 6%, 44%);
    --clr-neutral-500: hsl(234, 12%, 34%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Typography */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9375rem;
    background-color: var(--clr-neutral-100);
    font-weight: 200;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--clr-neutral-400);
    margin-bottom: 15px;
}

.title h1 .bold-title {
    color: var(--clr-neutral-500);
    font-weight: 600;
}

.title p {
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--clr-neutral-500);
}

.wrapper h2 {
    color: var(--clr-neutral-500);
    font-weight: 600;
    margin-bottom: 10px;
}

/* Layout */
.wrapper {
    width: min(100%, 320px);
    margin: 65px auto 45px;
}

.wrapper .title {
    text-align: center;
    margin-bottom: 75px;
}

.wrapper .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .card {
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.07), 4px 4px 8px rgba(0, 0, 0, 0.07);
    padding: 30px 25px 50px;
}

.wrapper .card p {
    margin-bottom: 35px;
}

.wrapper .card hr {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
}

.wrapper .supervisor hr {
    background-color: var(--clr-primary-cyan);
}

.wrapper .team-builder hr {
    background-color: var(--clr-primary-red);
}

.wrapper .karma hr {
    background-color: var(--clr-primary-orange);
}

.wrapper .calculator hr {
    background-color: var(--clr-primary-blue);
}

.wrapper .card img {
    display: block;
    margin-left: auto;
}

/* Desktop media queries */
@media (min-width: 1200px) {
    .wrapper {
        width: 80%;
        margin-bottom: 150px;
    }

    .wrapper .title {
        width: 550px;
        margin: 0 auto 75px;
    }

    .wrapper .title h1 {
        width: 400px;
        margin: 0 auto 15px;
    }

    .wrapper .content {
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .wrapper .content .card {
        margin: 0;
    }

    .wrapper .content .middle {
        /* 
        I feel like there is a better way to do this.
        Padding is required on the middle container; otherwise, using flex: 1 won't result in equal column widths.
        */
        padding: 0 25px;
    }

    .wrapper .content .middle .card {
        /*
        Apply a negative margin to the .card elements inside the middle container to offset the padding.
        */
        margin: 0 -25px;        
    }

    .wrapper .content > * {
        flex: 1;
    }

    .wrapper .content .middle .team-builder {
        margin-bottom: 40px;
    }
}

